* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.nav {
  background-color: antiquewhite;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image {
  padding-top: 100px;
}

.image1 {
  cursor: url('./components/target3.png') 24 24, auto;
}

.home {
  padding-top: 100px;
}

.dropdown {
  width: 100px;
  height: 50px;
  background: white;
  position: absolute;
}
