* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.nav {
  background-color: antiquewhite;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image {
  padding-top: 50px;
}

.cursor {
  cursor: url('./components/target3.png') 24 24, auto;
}

.image1 {
  width: 800px;
  height: auto;
}

.image2 {
  width: 70%;
  height: auto;
}

.home {
  padding-top: 100px;
}

.dropdown {
  width: 100px;
  height: auto;
  background: white;
  position: absolute;
}

.dropItem {
  list-style: none;
  padding-top: 3px;
  padding-bottom: 3px;
}
.dropItem:hover {
  background: lightgrey;
  cursor: pointer;
}
